fastapi
uvicorn[standard]
google-generativeai
python-dotenv
google-auth-oauthlib
google-auth
Pillow
requests

# Database and Authentication
tinydb
passlib[bcrypt]
python-jose[cryptography]
python-multipart
